In [ ]:
import pandas as pd

csv_file = input('Enter ur raw messy file: ')
df = pd.read_csv(r"C:\Users\yamin\OneDrive\messy-data-cleaning-pandas\data\raw_data\raw_data_1000_rows.csv")

df.head(15)

                     Name               Date   Age                 City
0         Laura Chapman          01 Mar 2021   NaN          timothystad
1          lacey gallegos         12/14/2023  60.0      Jonathanville
2          THOMAS DELGADO         18-03-2022  42.0            CAINBURGH
3            Joe Watson           16-07-2021  50.0          SOUTH KEVIN
4            CINDY HARVEY         2022-05-20   NaN            davisfurt
5             Rita Cook          16 Jan 2024   NaN      north julieberg
6          Travis Reese          28 Jun 2020  42.0            LOPEZBURY
7           John Torres          22 Mar 2025  24.0          TAMARAVILLE
8            kevin reeves           10/10/22   NaN         Monicaside
9     Christopher Jones           2024-08-21   NaN   SOUTH JEREMIAHFURT
10         julie reynolds         04/27/2024  43.0         Laurenland
11           michael mack  November 11, 2021   NaN       South Dennis
12       Robert Merritt           12/16/2022   NaN            changstad
13             STACY PAGE           01/07/22   NaN    Andersonchester
14          Kathryn Fox           07-08-2024  53.0            Coxside